* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

.arrow {
    transition: 0.3s;
    transform-origin: center center;
}

.opacity-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.real-wrap + label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}

.real-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 755px;
    height: 664px;
    margin: 0 auto;
    background-color: #e9e8e8;
    border: 6px solid #ffffff;
    z-index: 2;
}

.real-wrap2 + label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}

.real-wrap2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 570px;
    margin: 0 auto;
    background-color: #e9e8e8;
    border: 6px solid #ffffff;
    z-index: 2;
}

.exit-btn>label {
    position: absolute;
    width: 48px;
    height: 48px;
    overflow: hidden;
    padding-top: 48px;
    top: -23px;
    right: -23px;
    background: url('../img/x-mark.png') right top no-repeat;
    background-size: 48px auto;
    cursor: pointer;
}

.wrap-popup2 {
    padding: 31px 19px 14px 19px;
}

.popup-contents-box {
    border: 1px solid #928f8f;
    border-radius: 4px;
    padding: 17px 31px;
    margin-bottom: 15px;
    background-color: #ffffff;
}

.select-pannel-box {
    padding-top: 12px;
    margin-bottom: 12px;
}

.search-pannel-box {
    padding-bottom: 12px;
    margin-bottom: 16px;
    position: relative;
}

.search-contents-box {
    display: inline-block;
    padding-left: 19px;
}

.searching-btn {
    padding: 16px 22px;
    border:none;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    right: 9px;
    background: url('../img/search-red-icon.png') 0 0 no-repeat;
}

#h3-select {
    display: inline-block;
}

#h3-search {
    display: inline-block;
}

.chart-section {
    position: relative;
}

.chart-num-section {
    padding-bottom: 7px;
    text-align: right;
    font-size: 12px;
}

.chart-num-section span {
    color: #1779b1;
    font-weight: bold;
}

.chart-section {
    margin-bottom: 13px;
}

.alphabet {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.alphabet-btn {
    padding-right: 1px;
    background: none;
    border: none;
    cursor: pointer;
    color: #4a4949;
}

.korean {
    display: inline-block;
    padding-left: 1px;
    padding-right: 19px;
}

.other {
    position: absolute;
    top: 18px;
    right: 3px;

}

.btn-text-align {
    text-align: center;
}

input[id="popupbtn"] {
    display: none;
}

input[id="popupbtn"] + div {
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

input[id="popupbtn"]:checked + div {
    opacity: 1;
    visibility: visible;
}

input[id="journalbtn"] {
    display: none;
}

input[id="journalbtn"] + div {
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

input[id="journalbtn"]:checked + div {
    opacity: 1;
    visibility: visible;
}

.hover-popup {
    display: none;
    list-style: none;
    position: absolute;
    top: 44px;
    left: 3px;
    min-width: 140px;
    z-index: 1;
    background-color: #ffffff;
}

.hover-popup-list>a {
    display: block;
    color: #6a983c;
    padding: 6px 11px;
    text-decoration: none;
    font-size: 12px;
}

.hover-popup-list>a:hover {
    background-color: #7eb140;
    color: white;
}

.nav-list:hover .hover-popup {
    display: block;
}

.nav-list:hover .nav-hover-a {
    background: #ffffff;
}

.hover-popup:hover {
    display: block;
}

.nav-list:hover .nav-hover-a>img {
    transform: rotate(180deg);
}

.hover-popup-list a{
    text-decoration: none;
}

.nav-list {
    display: inline-block;
    position: relative;
}

.nav-hover-a:hover {
    background-color: #ffffff;
    color: #578e12;
    font-weight: bold;
}

.keyword-btn-left {
    border: none;
    background: url('../img/popup2/keyword-left.png') left center no-repeat;
    padding: 6px 5px 6px 3px;
    cursor: pointer;
    outline: none;
}

.keyword-search-container:not(:last-child) {
    margin-bottom: 10px;
}

.keyword-btn-right {
    background: url('../img/popup2/keyword-right.png') right center no-repeat;
    padding: 6px 5px 6px 0;
}

.keyword-btn-middle {
    background: url('../img/popup2/keyword-middle.png') center center repeat-x;
    padding: 6px 7px;
}

.keyword-btn-middle-first {
    background: url('../img/popup2/keyword-middle.png') center center repeat-x;
    padding: 6px 14px;
}

.circle-arrow {
    background: url('../img/popup2/circlearrow.png') left center no-repeat;
    padding: 5px 23px;
}

.keyword-search {
    height: 28px;
    width: 63%;
}
